#STYLE CAMELEON GENERATED DOC
div.operator
{
width:300px;
height:180px;
padding:10px;
border:1px solid black;
margin:10px;
background-color:#C0C0C0;
}

div.operator-image
{
padding:0px;
width:160px;
height:180px;
border:0px solid gray;
margin-right:10px;
position:relative;
background-color:black;
float:left;
}

div.control-image
{
padding:10px;
border:0px solid gray;
margin:10px;
position:center;
}

div.operator-content
{
padding:10px;
border-top:1px solid black;
margin:10px;
background-color:white;
}

div.operator-inputs
{
}

div.operator-outputs
{
}

.tabl
{
margin-left:150px;
}