<b>Operators</b><br>
<a href="#operatorBoolean">Boolean</a>
<a href="#operatorNumber">Number</a>
<a href="#operatorString">String</a>
<a href="#operatorVector">Vector</a>
<a href="#operatorTable">Table</a>
<a href="#operatorMap">Map</a>
<a href="#operatorGeneric">Generic</a>
<a href="#operatorControl-Flow">Control-Flow</a>
<a href="#operatorFileSystem">FileSystem</a>
<a href="#operatorIntrospection">Introspection</a>
<a href="#operatorTest">Test</a>
<br><b>Controls</b><br>
<a href="#controlFileSystem">FileSystem</a>
<a href="#controlBoolean">Boolean</a>
<a href="#controlNumber">Number</a>
<a href="#controlString">String</a>
<a href="#controlVector">Vector</a>
<a href="#controlMap">Map</a>
<a href="#controlTable">Table</a>
<a href="#controlCli">Cli</a>

<h2>Population</h2>
<b>Operators</b>
<a href="#operatorData">Data</a>
<a href="#operatorImageGrid">ImageGrid</a>
<a href="#operatorDistribution">Distribution</a>
<a href="#operatorDistributionMultiVariate">DistributionMultiVariate</a>
<a href="#operatorMatrix">Matrix</a>
<a href="#operatorPoint">Point</a>
<a href="#operatorPlot">Plot</a>
<a href="#operatorProcessing">Processing</a>
<a href="#operatorPDE">PDE</a>
<a href="#operatorVisualization">Visualization</a>
<a href="#operatorRandomGeometry">RandomGeometry</a>
<a href="#operatorRepresentation">Representation</a>
<a href="#operatorLinearAlgebra">LinearAlgebra</a>


<b>Controls</b>
<a href="#controlImageGrid">ImageGrid</a>
<a href="#controlPoint">Point</a>
<a href="#controlMatrix">Matrix</a>
<a href="#controlOpenGl">OpenGl</a>