<b>Operators</b><b>Controls</b>

<div class="operator" >
<div class="operator-content"><div class="control-image" ><img src="http://www.shinoe.org/glossary/img/Curve.png"></div><b>ViewPlot</b>
<p><div class="operator-inputs">Inputs:  graph.plot (DATAPLOT)</div>
<div class="operator-outputs">Outputs:  x.num (DATANUMBER) y.num (DATANUMBER) graph.pgm (DATAIMAGEGRID)</div>
<p><b><br>Description</b></p>
<strong">"[WARN]</strong">" No <br">"Description available.
</div></div>
<div class="operator" >
<div class="operator-content"><div class="control-image" ><img src="http://www.shinoe.org/glossary/img/RealTimeCurve.png"></div><b>RealTimeCurve</b>
<p><div class="operator-inputs">Inputs:  in.num (DATANUMBER)</div>
<div class="operator-outputs">Outputs: </div>
<p><b><br>Description</b></p>
<strong">"[WARN]</strong">" No <br">"Description available.
</div></div>
